/node_modules
/vendor
/database/database.sqlite
/.idea
/.docker/certs/localhost.*
/.docker/log/*log
/.docker/mysql/db
/.docker/rabbitmq/data
/.docker/rabbitmq/log
/.docker/coverage
/public/css
/public/js
/public/fonts
/public/images
/public/storage
/public/uploads
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.env
.phpunit.result.cache
.php-cs-fixer.cache
coverage_test_results.html
